



div{box-sizing:border-box;}
.timeline-item{
  color:blue;
}
.timeline{overflow:hidden;position:relative;}
.timeline:after{display:block;content:" ";width:5px;height:100%;position:absolute;left:50%;background:white;}/*vertical bar*/
h4{margin:0;}

.timeline-item .timeline-date{clear:both;float:left;width:50%;text-align:right;;padding:0 2rem 2rem;}
.timeline-item .timeline-details{float:right;width:50%;text-align:left;padding:0 2rem 2rem;position:relative;}
.timeline-item:nth-child(odd){
  color:red;
}
.timeline-item:nth-child(odd) .timeline-date{float:right;text-align:left;}
.timeline-item:nth-child(odd) .timeline-details{float:left;text-align:right}

/*branches*/
.timeline-item .timeline-details:before{display:block;content:" ";height:5px;width:1rem;background-color:white;position:absolute;top:0.5em;left:0;}
.timeline-item:nth-child(odd) .timeline-details:before{right:0;left:initial;}